{% extends "base.html" %}
{% load static %}

{% block content %}
    {% spaceless %}
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Головна</a></li>
                <li class="breadcrumb-item"><a href="{% url 'articles-list' %}">Публікації</a></li>
                <li class="breadcrumb-item"><a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
            </ol>
        </nav>
        <article class="blog-post">
            <h2 class="blog-post-title mb-1">{{ item.title }}</h2>
            <p class="blog-post-meta">{{ item.pub_date|date:"d E Y"|safe|linebreaks }}</p>
            <p>{{ item.description|escape|safe }}</p>
            {% if item.images.all %}
                {% include 'fotorama.html' with images=images %}
            {% endif %}
        </article>
    {% endspaceless %}
{% endblock %}